body{
    margin: 0%;
}
#parent{
    display: grid;
    grid-gap: 0.3em;
    grid-template-columns: auto auto auto auto;
    width: 100vw;
    height: fit-content;
}  
.child{
    height: 3em;
    border-radius:10px;
}
.first{
    background-color: rgb(3, 22, 39);
    grid-column: span 3;
    width: auto !important;
}
.second{
    width: auto  !important;
    background-color: aqua;
    grid-column: span 1;
}
.third{
    width: auto  !important;
    background-color: rgb(30, 126, 7);
    grid-column: span 4; 
}
.forth{
   width: auto  !important;
    background-color: rgb(30, 126, 7);
    grid-column: span 2; 
}
.fifth{
   width: auto  !important;
    background-color: rgb(30, 126, 7);
    grid-column: span 2; 
}